/*General CSS*/
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
}
/*HEADER CSS*/

.header{
  height: 60px;
  border: 1px solid rgb(228, 228, 228);
background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/*Right Header*/

.right-header{
  display: flex;
  flex: 25%;
  align-items: center;
  padding: 9px;
}
.right-header img{
  height: 46px;
  border-left: 1px solid black;
  padding-left: 15px;
  margin-right: 100px;
}
.location-button{
  margin-left: 20px;
  margin-right: 10px;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  background-color: transparent;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.location-button i{
  margin-left: 6px;
  font-size: 18px;
}
.location-button span{
  font-size: larger;
  font-weight: 500;
}

/*CENTER HEADER*/

.center-header{
  display: flex;
  flex: 50%;
  align-items: center;
  padding: 12px;
}
  /*category-button*/
.Category-button{
  background-color: transparent;
  margin-right: 10px;
  margin-left: 20px;
  padding: 9px 20px;
  border: none;
  border-radius: 2px;
  align-items: center;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
.Category-button span{
  font-size: 14px;
  font-weight: 500;
}
.Category-button i{
  margin-right: 10px;
}

.search-button{
  padding: 13px;
  margin-right: -10px;
  margin-top: 1px;
  border: none;
  border-radius: 4px;
  background-color:rgb(241, 237, 237);
  cursor: pointer;
}
.search-input{
  align-items: center;
  font-size: 16px;
  width: 450px;
  padding:10px 10px;
  border-radius: 4px;
  border: none;
  background-color:rgb(241, 237, 237);
  margin-right: -4px;
  cursor: pointer;
}

/*Left-header*/

.left-header {
  padding: 12px;
  display: flex;
  flex: 25%;
  align-items: center;
  }
.user-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.user-button i,
.chat-button i{
  margin-left: 6px;
  font-size: 18px;
}
.chat-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.support-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.record-button{
  padding: 9px 10px;
  background-color: rgb(184, 31, 31);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  width: 90px;
  height: 40px;
  margin-left: 80px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.user-button:hover,
.chat-button:hover,
.support-button:hover,
.Category-button:hover,
.location-button:hover{
  background-color: rgb(219, 219, 219,0.4);
  transition: 0.8s;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
  }
  .center-header{
    position: fixed;
    left: 70px;
    right: 30px;
    top: 0;
    flex: 100%;
    width: 100%;
    justify-content: center;
  }
  .search-input{
    margin-left: 70px;
  }
  .Category-button{
    display: none;
  }
  .left-header{
    position: fixed;
    bottom: 0;
    flex: 100%;
    width: 100%;
    background-color:rgb(238, 238, 238);
    justify-content: center;
    align-content: center;
    position: fixed;
  }
  .right-header{
    display: none;
  }
  .record-button{
    margin-left: 0px;
  }
  .support-button,
  .chat-button{
    display: block !important;
  }
}
@media (max-width: 1438px) {
  
  .support-button,
  .chat-button{
    display: none;
  }
}
@media (max-width:1200px){
  .right-header{
    display: none;
  }
  .center-header{
    display: flex;
    flex: 70%;
  }
  .left-header{
    display: flex;
    flex: 30%;
  }
  
}
.section{
  display: flex;
}
.main{
  z-index: 0;
  margin-top: 90px;
  margin-left: 92px;
  margin-right: 300px;
  display: flex;
  flex: 75%;
  flex-wrap: wrap;
  width: 1000px;
}
 /*card*/
 .card{
  padding: 10px;
  display: flex;
  height: 180px;
  margin: 5px;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  flex-grow: 1;

 }
 .card-description{
  flex: 80%;
 }
.card-image{
  flex: 20%;
}
.head-description{
  margin-right: 5px;
  display: flex;
}
.main-description{
  display: flex;
  flex-direction: row;
}
.left-description{
  width: 120px;
}
.right-description{
  margin-right: 20px;
  position: relative;
}
.right-description>button{
  position: absolute;
  bottom: 5px;
  border: none;
  background-color: transparent;
}
.desc-1{
  color: rgb(117, 116, 116);
  margin-right: 5px;
  margin-top:30px;
}
.desc{
  color: gray;
  margin-right: 5px;
  margin-top: 15px;
}
/*sidebar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.sidebar{
    position: fixed;
    height: 100%;
    width: 260px;
    background-color:#ffffff;
    padding: 15px;
    z-index: 99;
}
.sidebar a {
    color:black;
    text-decoration: none;
  }
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.menu-content::-webkit-scrollbar {
    display: none;
  }
  .menu-items{
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0s ease;
  }
  .submenu-active .menu-items {
    transform: translateX(-56%);
  }
  .menu-title{
    color: black;
    font-size: 14px;
    padding: 15px 20px;
  }
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 80%;
  border-radius: 12px;
  cursor: pointer;
}
.item i {
    font-size: 12px;
  }
  .item a:hover,
  .submenu-item:hover,
  .submenu .menu-title:hover {
    background: rgba(10, 10, 10, 0.1);
  }
  .submenu{
    background-color: #ffffff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: calc(100%);
    height: calc(100% + 100vh);
    display: none;
  }
.show-submenu ~ .submenu {
    display: block;
  }
  .submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
  }
  .submenu .menu-title i {
    margin-left: 10px;
  }