/*General CSS*/
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
}
/*HEADER CSS*/

.header{
  height: 60px;
  border: 1px solid rgb(228, 228, 228);

  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/*Right Header*/

.right-header{
  display: flex;
  flex: 1;
  align-items: center;
  padding: 9px;
}
.right-header img{
  height: 46px;
  border-left: 1px solid black;
  padding-left: 15px;
  margin-right: 100px;
}
.location-button{
  margin-left: 20px;
  margin-right: 10px;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  background-color: transparent;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.location-button i{
  margin-left: 6px;
  font-size: 18px;
}
.location-button span{
  font-size: larger;
  font-weight: 500;
}

/*CENTER HEADER*/

.center-header{
  display: flex;
  flex: 2;
  align-items: center;
  padding: 12px;
}
  /*category-button*/
.Category-button{
  background-color: transparent;
  margin-right: 10px;
  margin-left: 20px;
  padding: 9px 20px;
  border: none;
  border-radius: 2px;
  align-items: center;
  height: 40px;
  width: 120px;
  cursor: pointer;
}
.Category-button span{
  font-size: 14px;
  font-weight: 500;
}
.Category-button i{
  margin-right: 10px;
}

.search-button{
  padding: 13px;
  margin-right: -10px;
  margin-top: 1px;
  border: none;
  border-radius: 4px;
  background-color:rgb(241, 237, 237);
  cursor: pointer;
}
.search-input{
  align-items: center;
  font-size: 16px;
  width: 450px;
  padding:10px 10px;
  border-radius: 4px;
  border: none;
  background-color:rgb(241, 237, 237);
  margin-right: -4px;
  cursor: pointer;
}

/*Left-header*/

.left-header {
  padding: 12px;
  display: flex;
  flex: 1;
  align-items: center;
  }
.user-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.user-button i,
.chat-button i{
  margin-left: 6px;
  font-size: 18px;
}
.chat-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.support-button{
  background-color: transparent;
  padding: 9px 10px;
  border: none;
  border-radius: 2px;
  align-items: center;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.record-button{
  padding: 9px 10px;
  background-color: rgb(184, 31, 31);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  width: 90px;
  height: 40px;
  margin-left: 80px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.user-button:hover,
.chat-button:hover,
.support-button:hover,
.Category-button:hover,
.location-button:hover{
  background-color: rgb(219, 219, 219,0.4);
  transition: 0.8s;
}